<body>
  <div class="main-edit">
    <h1>Editing Book</h1>

    <%=form_with model: @book, url:update_book_path(@book.id), method: :patch do |f|%>

      <div><label>Title</label></div>
      <div class="text-field"><%=f.text_field :title%></div>

      <div><label>Body</label></div>
      <div class="text-area"><%=f.text_area :body%></div>

      <div class="submit"><%=f.submit'Create Box'%></div>

    <%end%>


    <div class>
      <%=link_to 'Show',book_path(@book.id)%>
      |
      <%=link_to 'Back',books_path(@book.id)%>
    </div>
  </div>
</body>